{% extends '::base.html.twig' %}

{% block body %}
    <h1 class="header">
        {{ "error.404.title"|trans({}, "error")|desc("Titre d'une erreur pour une page introuvable") }}
    </h1>

    <p>
        {{ "error.404.message"|trans({}, "error")|desc("Contenue d'une erreur pour une page introuvable") }}
    </p>
{% endblock %}