{% trans_default_domain 'FOSUserBundle' %}
<h1>Changer de mot de passe</h1>
<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="form-hz">
    {{ form_widget(form) }}
    <div class="form-actions">
        <button type="submit" class="btn">
            <i class="fa fa-check"></i> {{ 'change_password.submit'|trans }}
        </button>
    </div>
</form>
