{#
    available blocks:
    - eventVisible
    - eventHidden
    - registrationDateVisible
    - registrationDateHidden
    - registrationNotOpenYet
    - registrationClosed
    - register
#}

{% if event is not null and event.datesVisible %}
    {% block eventVisible %}{% endblock %}

    {% if event.registrationVisible %}
        {% block registrationDateVisible %}{% endblock %}

        {% if event.registrationOpenAt > date('now') %}
            {% block registrationNotOpenYet %}
                <p>Les inscriptions débuterons {{ event.registrationOpenAt|countdown }}.</p>
            {% endblock %}

        {% else %}
            {% if event.registrationCloseAt < date('now') %}
                {% block registrationClosed %}
                    {% if not app.user %}
                        <p>Les inscriptions sont fermés.</p>
                    {% endif %}
                {% endblock %}

            {% else %}
                {% block register %}{% endblock %}
            {% endif %}
        {% endif %}

    {% else %}
        {% block registrationDateHidden %}
            {{ renderBlock('registration_date_hidden') }}
        {% endblock %}
    {% endif %}
{% else %}
    {% block eventHidden %}{% endblock %}
{% endif %}