@import "../../../../../../www/less/variables.less";

.article-image{
  padding-bottom: 60%;
  background: #e0e0e0;
  background-size: cover;
  display: block;

  &:hover{
    box-shadow: 0 0 0 1px @green;
  }
}