<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block page_title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
            {% stylesheets
                'bundles/bmatznerfontawesome/css/font-awesome.min.css'
                'less/global.less'
                'less/layout.less'
                'less/grid.less'
                'less/form.less'
                'less/pagination.less'
                'less/table.less'
                filter='cssrewrite'
            %}
                <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="main-container">
            <div class="table-container">
                <div class="content">
                    <section>
                        {% block body %}{% endblock %}
                    </section>
                </div>
                <div class="side-bar">
                    world
                </div>
            </div>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
