parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~
    mailer_port:       587
    mailer_auth_mode:  login
    mailer_sender_address: infos@hf-lan.fr

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt
    stripe.publicKey:  pk_test_1DHSFOydaonR4rqGHldlc4EO
    stripe.privateKey: sk_test_btzyqdZrTnp0d2COWXx75Czz