{% extends '::base.html.twig' %}

{% block body %}
    <h1 class="header" id="album-title">
        {{ "photos.loading"|trans({}, "photos")|desc("Texte de chargement") }}
    </h1>
    <div id="photo-gallery" data-id="{{ id }}">
        <i class="fa fa-spinner icon-spin icon-4x"></i>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@hflanPhotosBundle/Resources/public/js/photos.js'
        output='/js/photos.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}