{% extends '::base.html.twig' %}

{% block body %}
    <h1 class="header">
        {{ "photos.title"|trans({}, "photos")|desc("Titre principale de la page photos") }}
    </h1>
    <div id="photo-albums">
        <i class="fa fa-spinner icon-spin icon-4x"></i>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@hflanPhotosBundle/Resources/public/js/albums.js'
        output='/js/albums.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}