{% extends '::base.html.twig' %}

{% block body %}
    <h1>Editer un joueur</h1>

    <form method="post" class="form-hz" novalidate>
        {{ form_widget(form) }}
        {{ form_widget(fieldsForm) }}

        <div class="form-actions">
            <button type="submit" class="btn">
                <i class="icon-ok"></i> Enregistrer
            </button>
            <a href="{{ path('hflan_edit_team') }}" class="btn">
                <i class="icon-reply"></i> Annuler
            </a>
        </div>
    </form>
{% endblock %}
