{% extends 'hflanLanBundle:Team:layout.html.twig' %}

{% block content %}
    <div class="row row-gaped" style="margin-top: 30px">
        <div class="col6">
            {% for player in team.players %}
                <div class="panel">
                    {{ player.nickname|default("Joueur " ~ loop.index) }}
                    {% if player.minor %}
                        <span class="minor-sign">-18</span>
                    {% endif %}
                    {% if player.valid %}
                        <a href="{{ path('hflan_edit_player', {id:player.id}) }}" class="edit-player valid">
                            <i class="icon-ok"></i>
                        </a>
                    {% else %}
                        <a href="{{ path('hflan_edit_player', {id:player.id}) }}" class="edit-player">
                            <i class="icon-pencil"></i>
                        </a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="col6">
            <p>
                Avant de pouvoir acheter vos places vous devez finir de remplir toutes les informations relatives aux joueurs.
            </p>
            <a {% if team.valid %}href="{{ path('hflan_pay_team') }}" {% endif %}class="next-step{% if team.valid %} valid{% endif %}">
                <i class="icon-lock"></i>
                <i class="icon-unlock-alt"></i>
                <p>
                    Vérouillez mes informations et passer à l'étape 3
                </p>
            </a>
        </div>
    </div>
{% endblock %}
