{% extends 'hflanLanBundle:Team:layout.html.twig' %}

{% block content %}
    {% set numberOfMinor = 0 %}
    {% for player in team.players if player.isMinor %}
        {% set numberOfMinor = numberOfMinor + 1 %}
    {% endfor %}

    {% if numberOfMinor > 0 %}
        <div class="flash flash-warning" style="margin-top: 20px">
            {{ renderBlock('registration_minor') }}
        </div>
    {% endif %}

    {% if team.paid %}
        {{ renderBLock("registration_complete") }}
    {% else %}
        {{ renderBlock("registration_buy_instruction") }}
        <a class="btn">
            <i class="icon-shopping-cart"></i>
            Acheter ma place
        </a>
    {% endif %}

{% endblock %}
