{% extends 'hflanLanBundle:Team:layout.html.twig' %}

{% block content %}
    {% set numberOfMinor = 0 %}
    {% for player in team.players if player.isMinor %}
        {% set numberOfMinor = numberOfMinor + 1 %}
    {% endfor %}

    {% if numberOfMinor > 0 %}
        <div class="flash flash-warning" style="margin-top: 20px">
            {{ renderBlock('registration_minor') }}
        </div>
    {% endif %}

    {% if team.paid %}
        {% if not tournament.isPaymentOnTheSpot %}
            {{ renderBlock("registration_complete") }}
        {% else %}
            {{ renderBlock("registration_complete_on_the_spot") }}
        {% endif %}
    {% else %}
        {{ renderBlock("registration_buy_instruction") }}
        <a class="btn" href="https://www.buypacker.com/deal/9605-y-hf-lan-6?utm_source=direct&utm_medium=link&utm_content=dealInvite&utm_campaign=9605-y-hf-lan-6">
            <i class="fa fa-shopping-cart"></i>
            Acheter ma place
        </a>
    {% endif %}

{% endblock %}
