{% extends '::base.html.twig' %}

{% block body %}
    {% if tournament.numberOfPlayerPerTeam > 1 %}
        <h1>Voulez-vous vraiment passer en liste supérieure {{ team.name }} ?</h1>
    {% else %}
        <h1>Voulez-vous vraiment passer en liste supérieure {{ team.players[0].nickname }} ?</h1>
    {% endif %}
    <a href="{{ path('hflan_team_upgrade', {id:team.id}) }}" class="btn">
        <i class="fa fa-check"></i>
        Oui passer en liste supérieure
    </a>
    <a href="{{ path('hflan_tournament_show', {slug:tournament.slug}) }}" class="btn">
        <i class="fa fa-reply"></i>
        Non annuler
    </a>
{% endblock %}