
{% if is_granted('ROLE_BLOCK') %}
    <div class="panel">
        <a href="{{ path('hflan_block_edit', {id:block.id}) }}" class="pull-right">
            <i class="icon-pencil"></i>
        </a>
        {{ html|raw }}
    </div>
{% else %}
    {{ html|raw }}
{% endif %}