@import "mixins.less";
@import "variables.less";

.table{
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    margin-top: 20px;

    th{
        border-bottom: solid 1px #eaeaea;
        box-shadow: 0 1px rgba(255,255,255,.7);
        text-align: left;
        text-shadow: 0 1px 0 white;

        .pop-up-header{
            position: relative;
            text-align: center;
            .border-radius-bottom(3px);
            border: solid 1px transparent;
            border-top: none;
            cursor: default;

            &:after{
                content: "";
                position: absolute;
                height: 4px;
                background: white;
                display: none;
                left: 0;
                right: 0;
                top: 0;
                margin-top: -1px;
            }

            .long-text{
                position: absolute;
                bottom: 100%;
                width: 200px;
                margin-left: -105px;
                left: 50%;
                display: none;
                font-weight: normal;
                .border-radius(3px);
                background: white;
                border: solid 1px #999999;
                padding: 2px 5px;
                box-shadow: 0 1px 2px rgba(0,0,0,.3);

                b{
                    display: block;
                    margin-bottom: 5px;
                }
            }

            &:hover{
                background: white;
                border-color: #999999;

                .long-text, &:after{
                    display: block;
                }
            }
        }
    }

    th, td{
        padding: 4px 8px;
        vertical-align: top;
    }

    tr{
        td{
            border: solid 1px transparent;
            border-right: none;

            & + td{
                border-left: none;
            }

            &:last-child{
                border-right: solid 1px transparent;
            }

            a{
                color: #555;

                &:hover{
                    color: @dark-green;
                    text-decoration: none;
                }
            }
        }

        &:nth-child(even) td{
            background: #f9f9f9;
        }

        &:nth-child(odd) td{
            background: #f5f5f5;
        }

        &:hover td{
            background: #ebebeb;
        }

        &[data-href]:hover td{
            background: #cddd8e;
            cursor: pointer;
            border-color: @dark-green;
            box-shadow: 0 1px 0 rgba(255,255,255,.5) inset;
            .not-selectable;

            &:first-child{
                .border-radius-left(3px);
            }

            &:last-child{
                .border-radius-right(3px);
            }
        }
    }
}

.table-total{
    tr{
        td:nth-child(2), th:nth-child(2){
            text-align: right;
        }
    }

    tr:last-child{
        td{
            border-top: solid 2px #eaeaea;
        }
    }
}