{% embed 'hflanLanBundle:Modules:nextEventState.html.twig' %}

    {% block eventVisible %}
        <h3>Prochaine LAN</h3>
        <div id="countdown">
            <script type="text/javascript">
                var target = new Date({{ event.beginAt|date('Y,m-1,j,G,i,s,u') }});
            </script>
        </div>
    {% endblock %}

    {% block register %}
<<<<<<< HEAD
        <p>
            Dépéchez vous, les inscriptions ferment {{ event.registrationCloseAt|countdown }}
        </p>
=======
        {% if not app.user %}
            <p>
                Dépéchez vous, les inscriptions ferment {{ event.registrationCloseAt|countdown }}
            </p>
            <a href="{{ path('hflan_register') }}" class="btn btn-large">
                <i class="icon-edit"></i>
                S'inscrir !
            </a>
        {% endif %}
>>>>>>> origin/bundle/lan
    {% endblock %}

{% endembed %}