{% embed 'hflanLanBundle:Modules:nextEventState.html.twig' %}

    {% block eventVisible %}
        <h3>Prochaine LAN</h3>
        <div id="countdown">
            <script type="text/javascript">
                var target = new Date({{ event.beginAt|date('Y,m-1,j,G,i,s,u') }});
            </script>
        </div>
    {% endblock %}

    {% block register %}Inscrivez vous !{% endblock %}

{% endembed %}