{% extends '::base.html.twig' %}

{% block body %}
    <h1>Blog</h1>

    {% for article in pagination %}
        <div class="row row-gaped">
            <div class="col3">
                <a class="article-image" style="background-image: url({{ asset(article.webPath) }})"></a>
            </div>
            <div class="col9">
                <h2>{{ article.title }}</h2>
                <p>{{ article.content|stripHTML(250) }}</p>
            </div>
        </div>
        <hr>
    {% endfor %}

    {{ knp_pagination_render(pagination) }}
{% endblock %}
