{% extends '::base.html.twig' %}

{% block body %}
    <h1>Editer block</h1>

    <form method="post" class="form-hz" {{ form_enctype(form) }} novalidate>
        {{ form_widget(form) }}
        <div class="form-actions">
            <button type="submit" class="btn">
                <i class="fa fa-check"></i> Enregistrer
            </button>
            <a href="{{ path('hflan_block_admin') }}" class="btn">
                <i class="fa fa-reply"></i> Annuler
            </a>
        </div>
    </form>
{% endblock %}
