{% extends '::base.html.twig' %}

{% block body %}
    <h1 class="header">
        {{ "streams.title"|trans({}, "streams")|desc("Titre principale de la page des streams") }}
    </h1>

    {% for stream in streams %}
        <a class="next-step valid" href="{{ path('hflan_stream_show', {id:stream.id}) }}">
            {{ stream.name }}
        </a>
    {% endfor %}
{% endblock %}