{% extends '::base.html.twig' %}

{% block body %}
    <div class="row row-gaped">
        <div class="col1">
            <div style="background: red">
                hello
            </div>
        </div>
        <div class="col2">
            <div style="background: red">
                hello
            </div>
        </div>
        <div class="col3">
            <div style="background: green">
                hello
            </div>
        </div>
        <div class="col4">
            <div style="background: red">
                hello
            </div>
        </div>
        <div class="col2">
            <div style="background: green">
                hello
            </div>
        </div>
    </div>
{% endblock %}
