{% extends '::base.html.twig' %}

{% block body %}
    <h1>Nouvel article</h1>

    <form method="post" class="form-hz" novalidate>
        {{ form_widget(form) }}
        <div class="form-actions">
            <button type="submit" class="btn">Enregistrer</button>
        </div>
    </form>
{% endblock %}
