{% extends '::base.html.twig' %}

{% block body %}
    <h1>Nouvel article</h1>

    <form>
        {{ form_widget(form) }}
        <button type="submit">Enregistrer</button>
    </form>
{% endblock %}
